body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
    
    

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    position: relative;
    font-size: 13px;
   height: 40px!important;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:10px!important;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="email"]:focus  {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.list-inline a {
    color:#fff !important;
    font-size:13px !important;
}

.list-inline a:hover {
    color:#24a2f6!important;
    text-decoration:none;
}
.btn-lg {
    margin:0px!important;
}
.form-signin p {
    /*background-color:#000;*/
    font-size:16px !important;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:8px 0px 8px 0px;
    border-radius:5px;
      -webkit-border-radius:5px;
    -moz-border-radius: 5px;

}
#login {
    margin-top:0px;
}

#forgot {
    margin-top:50px;
}

#signup {
    margin-top:30px;
}

#logoimg {
  width: 315px;
height: 51px;
padding-left: 33px
}

.cus-background{
	background:url('../img/background_01.jpg') repeat center center;
}

.cus-frm-wrapper{
	width: 40%;
    margin: 7px auto 0 auto;
}

.tab-content{
	background:rgba(255, 255, 255, 0.7);
	border-radius:6px;
	padding:18px;
	margin: 33px 0 0 0;
}
.tab-content h2{
	text-align:center;
}
.tab-content i{
	color:#000000;
}
.cus-frm-wrapper .tab-content input[type="text"], .cus-frm-wrapper .tab-content input[type="password"], .cus-frm-wrapper .tab-content input[type="email"]{
    width: 100%;
    height: 56px !important;
    padding: 0 27px;
	border:none;
	outline:none;
	position:relative;
	display:block;
}
.cus-frm-wrapper .list-inline {
    text-align: center;
    padding: 36px 0 0 0;
	display:block;
	
}

