<section class="innere-heading-area">
		<div class="container">
			<div class="row">
			<div class="col-md-12">
			<h1 class="innere-heading-text" style="line-height:1.1;margin-top:28px;">
			<?php echo $details->page_title; ?>
			</h1></div>
		</div>
		</div>				
	</section>


	<?php echo $details->content; ?>